@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  color:#fff;
}
body{
  background-color: black;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#tasklistt::-webkit-scrollbar{
  display:none;
}
